/* Style général pour l'en-tête */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81df8177;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: center;

}

header {
    background-color: #81df8177;  /* Couleur de fond de l'en-tête */
    padding: 10px 20px;      /* Espacement autour du contenu */
    position: relative;      /* Positionnement pour le bouton à gauche */
  }
  .header-content{
    background-color: #81df8177;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */

  }


  .home-button {
      background-color: #236326; /* Couleur du bouton */
      padding: 10px 20px;       /* Espacement autour du contenu */
      position: relative;       /* Positionnement relatif */
      width: 100%;              /* Prendre toute la largeur */
      color: white;             /* Texte en blanc */
      text-align: center;       /* Centrer le texte */
      border: none;             /* Supprimer les bordures par défaut */
      box-sizing: border-box;   /* Inclure le padding dans la largeur totale */
  }


 button:hover {
     background-color: #1cac8f;
 }
