/* Style global du corps de la page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Style pour le titre de la page */
#title_enclos {
    text-align: center;
    font-size: 36px;
    color: #2c3e50;
    margin-top: 20px;
}

/* Conteneur des enclos */
#enclos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Style de base pour les enclos */
.enclos {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Couleurs pour les titres en fonction des biomes */
.enclos h3 {
    margin: 0;
    font-size: 1.5em;
}

.enclos-belvedere h3 {
    color: brown;
}

.enclos-plateau-rose h3 {
    color: pink;
}

.enclos-clairieres h3 {
    color: yellow;
}

.enclos-bois-des-pins h3 {
    color: green;
}

.enclos-vallon-des-cascades h3 {
    color: blue;
}

.enclos-bergerie-des-reptiles h3 {
    color: darkgreen;
}


/* Effet de survol sur l'enclos */
.enclos:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Style du titre de chaque enclos */
.enclos h3 {
    font-size: 20px;
    color: #16a085;
    margin-bottom: 10px;
}

/* Style des éléments de la liste des animaux */
.enclos li {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 5px;
}

/* Style du bouton de retour à l'accueil */
.home-button {
    position: absolute;
    left: 20px;
    background-color: #227c07;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}

/* Style du nom du parc */
.park-name {
    font-size: 40px;
    color: #2c3e50;
    margin: 0;
}

/* Mise en forme de l'en-tête */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbf790;
    padding: 10px 20px;
    position: relative;
}

/* Ajout d'un style au footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
