

/* Style pour le titre de la page */
#title_enclos {
    text-align: center;
    font-size: 36px;
    color: #2c3e50;
    margin-top: 20px;
}

/* Style global du corps de la page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


/* Style pour le conteneur des animaux */
.animaux-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.animal-card {
    width: 200px;
    height: 200px;
    margin: 8px auto; /* Centrer la case */
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Aligner les éléments en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animal-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.animal-image {
    width: 800px; /* Taille de l'image en largeur */
    height: 800px; /* Taille de l'image en hauteur, doit être identique pour obtenir un cercle parfait */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover; /* L'image s'adapte bien à la forme circulaire */
    margin: 20px auto; /* Centrage horizontal et un peu d'espace autour de l'image */
    display: block; /* Assure que l'image soit un élément de bloc pour le centrage */
    float: left; /* Aligner l'image à droite */
}


/* Style du bouton de retour à l'accueil */
.home-button {
    position: absolute;
    left: 20px;
    background-color: #227c07;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}

/* Style du nom du parc */
.park-name {
    font-size: 40px;
    color: #2c3e50;
    margin: 0;
}

/* Mise en forme de l'en-tête */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbf790;
    padding: 10px 20px;
    position: relative;
}

/* Ajout d'un style au footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


/* Conteneur de la barre de recherche */
#search-bar {
    display: flex; /* Flexbox pour aligner les éléments */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement les éléments dans la barre */
    margin: 20px auto; /* Espace au-dessus et au-dessous, et centrer avec auto */
    gap: 10px; /* Espacement entre les éléments de la barre */
}

/* Barre de recherche (champ de texte) */
#search-input {
    width: 400px; /* Largeur du champ de recherche */
    padding: 15px;
    font-size: 16px; /* Taille du texte */
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Boutons de la barre de recherche */
#search-bar button {
    background-color: #227c07; /* Couleur verte */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet au survol des boutons */
#search-bar button:hover {
    background-color: #185905; /* Couleur plus foncée */
}


.title-box {
    border: 2px solid #2c3e50;
    padding: 20px;
    background-color: #f4f4f9;
    text-align: center;
    border-radius: 8px;
    font-size: 36px;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}



h2 {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 36px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 20px; /* Espacement au-dessus */
}

h3 {
    text-align: left; /* Centrer le texte horizontalement */
    font-size: 28px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 20px; /* Espacement au-dessus */
}



h4 {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 60px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 20px; /* Espacement au-dessus */
}


h5 {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 36px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 20px; /* Espacement au-dessus */
}

h6 {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 25px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 30px; /* Espacement au-dessus */
}

h7 {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 25px; /* Taille du texte */
    color: #2c3e50; /* Couleur du texte */
    margin-top: 30px; /* Espacement au-dessus */
}

