/* Style général pour l'en-tête */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81df8177;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: center;
}

header {
    background-color: #5bb4686e;  /* Couleur de fond de l'en-tête */
    padding: 10px 20px;      /* Espacement autour du contenu */
    position: relative;      /* Positionnement pour le bouton à gauche */
    text-align: center;
  }
  .header-content{
    background-color: #5bb4686e;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    margin-top: 20px; /* Adjust the margin as needed */

  }


.home-button {
    background-color: #236326; /* Couleur du bouton au survol */
    padding: 10px 20px;      /* Espacement autour du contenu */
    position: relative;      /* Positionnement pour le bouton à gauche */
 }


   /* Main section styles */
   main {
     display: flex;
     flex-direction: column; /* Arrange elements vertically */
     justify-content: center;
     align-items: center;
     margin-top: 50px; /* Adjust spacing from the header */
   }
   .intro-text {
     text-align: center;
     margin: 30px auto;
     max-width: 600px; /* Limite la largeur du texte */
     font-size: 18px; /* Taille de la police */
     color: #333; /* Couleur du texte */
     line-height: 1.6; /* Hauteur de ligne pour une lecture agréable */
   }

   .button-container {
     display: flex;
     flex-direction: row; /* Arrange les boutons horizontalement */
     gap: 20px; /* Ajoute de l'espace entre les boutons */
     justify-content: center; /* Centre les boutons horizontalement */
     margin-top: 20px; /* Ajoute un espace entre le texte et les boutons */
   }



   /* Action buttons styles */
   .action-button {
       background-color: #236326; /* Button background color */
       color: white; /* Button text color */
       padding: 15px 30px; /* Button padding */
       border: none; /* Remove borders */
       border-radius: 5px; /* Rounded corners */
       font-size: 16px; /* Font size */
       cursor: pointer; /* Pointer cursor on hover */
       transition: background-color 0.3s; /* Smooth color transition */
       width: 200px; /* Fix the width */
       text-align: center; /* Center text inside button */
   }


   .action-button:hover {
     background-color: #1a4b20; /* Darker green on hover */
   }
