/* Style général pour l'en-tête */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81df8177;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: center;
}

header {
    background-color: #81df8177;  /* Couleur de fond en-tête */
    padding: 10px 20px;      /* Espacement autour du cont */
    position: relative;      /* Position à gauche */
  }
  .header-content{
    background-color: #81df8177;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* vertical */
    align-items: center; /* Center horiz */

  }


  .home-button {
      background-color: #236326; /* Couleur du bouton */
      padding: 10px 20px;       /* Espacement autour du contenu */
      position: relative;
      width: 100%;              /* Prendre toute la largeur */
      color: white;             /* Texte en blanc */
      text-align: center;       /* Centrer le texte */
      border: none;             /* Supprimer les bordures par défaut */
      box-sizing: border-box;   /* Inclure le padding dans la largeur totale */
  }

 button:hover {
     background-color: #1cac8f;
 }

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    align-items: center; /* Center horiz */
    margin:  auto;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #236326;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-container button:hover {
    background-color: #1a4a1d;
}
