/* CSS pour la page liste des enclos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#title_enclos {
    text-align: center;
    margin: 20px 0;
}

/* Style pour le conteneur des enclos */
#enclos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.enclos-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.enclos-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.animaux-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.animal-card {
    width: 120px;
    text-align: center;
}

.animal-card a {
    text-decoration: none;
    color: black;
    display: block;
}

.animal-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.animal-card p {
    font-size: 14px;
    font-weight: bold;
}

/* Lien de retour à l'accueil */
.home-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #45a049;
}

.park-name {
    font-size: 24px;
    margin: 0;
}
